<HTML>
<HEAD>
<TITLE>Data Analysis</TITLE>
</HEAD>

<BODY>
<div id="image" style="background: url(../theme.jpg) no-repeat; width: 100%; height: 100%; background-size: 100%;">
<br><br><br><br><br><br><br><br>	
<H1><CENTER>Data Analysis</CENTER></H1>
<CENTER>
<P><CENTER>welcome to Data Analysis system!</CENTER></P>
<br>
<FORM ACTION="../controller/dataAnalisis1.jsp" METHOD="post" >
<INPUT TYPE="submit" NAME="go" VALUE="Display the total number of all pictures" style= "width: 300; height: 30"></FORM>
<br>
<FORM ACTION="../controller/dataAnalisis2.jsp" METHOD="post" >
<INPUT TYPE="submit" NAME="go1" VALUE="Analysis by particular value(s)" style= "width: 300; height: 30"></FORM>
<br>
<FORM ACTION="../controller/dataAnalisis3.jsp" METHOD="post" >
<INPUT TYPE="submit" NAME="go2" VALUE="Analysis by attribute(s)" style= "width: 300; height: 30"></FORM>
<br>
<FORM ACTION="administrator.html" METHOD="post" >
<INPUT TYPE="submit" NAME="LogOut" VALUE="Back" style= "width: 300; height: 30">
</FORM>
<br><br>
<a href='userDocumentation.html' target='_blank'>Help</a>
</div>
</BODY>
</HTML>
