<HTML>
<HEAD>
<TITLE>Data Analysis</TITLE>
</HEAD>

<BODY>
<div id="image" style="background: url(../theme.jpg) no-repeat; width: 100%; height: 100%; background-size: 100%;">
<br><br><br><br><br><br><br><br>	
<H1><CENTER>Data Analysis</CENTER></H1>
<CENTER>
<P><CENTER>welcome to Data Analysis system!</CENTER></P>

<br>
<FORM ACTION="../controller/dataAnalysisByAttribute.jsp" METHOD="post" >
<INPUT TYPE="submit" NAME="go2" VALUE="Analysis by Attribute(s)" style= "width: 300; height: 30"></FORM>
<br>


<FORM ACTION="../controller/dataAnalysisByValue.jsp" METHOD="post" >
<INPUT TYPE="submit" NAME="go1" VALUE="Analysis by Particular Value(s)" style= "width: 300; height: 30"></FORM>

<br>
<FORM ACTION="../controller/dataAnalysisDisplayTotalPics.jsp" METHOD="post" >
<INPUT TYPE="submit" NAME="go" VALUE="Display the Total Number of Pictures" style= "width: 300; height: 30"></FORM>
<br>

<FORM ACTION="administrator.html" METHOD="post" >
<INPUT TYPE="submit" NAME="LogOut" VALUE="Back" style= "width: 150; height: 30">
</FORM>
<br><br>
<a href='userDocumentation.html' target='_blank'>Help</a>
</div>
</BODY>
</HTML>
